<div class="container">
    <form (ngSubmit)="updateData()"  [formGroup]="form">
        <div class="form-group">
            <label for="bookname">BookName</label>
            <input type="text"  formControlName="bookname"  class="form-control" placeholder="EnterbookName"/>


        </div>

        <div class="form-group">
            <label for="book_description">Description</label>
            <input type="text" formControlName="book_description"  class="form-control" placeholder="Description"/>


        </div>
        <div class="form-group">
            <label for="book_price">Price</label>
            <input type="text" formControlName="book_price" class="form-control" placeholder="Price"/>
            
        </div>
        <div class="form-group">
            <label for="book_discount">Discount</label>
            <input type="text" formControlName="book_discount"  class="form-control" placeholder="Discount"/>
            
        </div>

        <div class="form-group">
            <label for="book_availability">Availability</label>
            <input type="text" formControlName="book_availability"  class="form-control" placeholder="Availability"/>
            
        </div>
        <div class="form-group">
            <label for="book_author">Author</label>
            <input type="text" formControlName="book_author"  class="form-control" placeholder="book_author"/>
        
           
        </div>
        <div class="form-group">
            <label for="book_publisher">Publisher</label>
            <input type="text" formControlName="book_publisher"  class="form-control" placeholder="PublisherName"/>
        
        </div>
        
        <div class="form-group">
            <button class="btn btn-dark btn-sm mt-4">Save</button>
        </div>
    </form>
</div>

