<div class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Bookname</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; let i=index">
            <td>{{i+1}}</td>
            <td>{{book.bookname}}</td>
            <td>{{book.book_description}}</td>
            <td>{{book.book_price}}</td>
            <td class="mr-2">
                <button class="btn btn-primary btn-sm mx-auto" routerLink="edit/{{book._id}}">Edit</button>   
            </td>
            <td>
                <button class="btn btn-danger btn-sm mx-auto">Delete</button>
            </td>
        </tr>
    </tbody>
</div>
